/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logocolor1{
color: #0078C9 !important;
}
.logocolor2{
  color: #F05A28 !important;
}
.logocolor3{
  color: #0627bf !important;
}

.logobgcolor1{
  color: #ffffff !important;
  background-color: #0078C9 !important;
  }
  .logobgcolor2{
    color: #ffffff !important;
    background-color: #F05A28 !important;
  }
  .logobgcolor3{
    color: #ffffff !important;
    background-color: #0627bf !important;
  }
  




